{% extends 'base.html' %}

{% block title %}
	Media {{ media.name }}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
        <h4>About this website</h4>
			</div>
			<div class="card-body">
        <div class="row">
          <div class="col">
			  <p>The file <a href="https://en.wikipedia.org/wiki/Robots_exclusion_standard"><span class="text-monospace">robots.txt</span></a> is used to instruct search engines visiting a website on what to index and what to ignore.<br>
			  Many media websites use it to "hide" certain news for different reasons (legal requirements, corporate or personal requests...).<br>
			  But we know the Internet never forgets: by the means of this website, we are monitoring what online media outlets are removing.<br>
			  The source code of this website is public and can be used to monitor robots.txt files for other purposes.<br>
				You can follow the Twitter account <a href="https://twitter.com/canzelculture">@canzelculture</a> to keep track of the new <span class="text-monospace">robots.txt</span> entries as they are found.<br>
          </div>
        </div>			
			</div>
		</div>
	</div>
</div>

{% endblock %}
